.search{
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.search input{
    background: transparent;
    border: 1px solid rgb(25, 119, 241);
    padding: 10px;
    outline: none;
    color: antiquewhite;
}
.search span{
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 1em;
    color: rgb(25, 119, 241);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .5s;
}

.search input:valid ~ span,
.search input:focus ~ span{
    color: rgb(255, 255, 255);
    font-size: .65em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 10px;
    background-color: rgb(25, 119, 241);
    border-radius: 4px;
}